.gotham-light {
  font-family: 'GothamPro', sans-serif;
  font-weight: 300;
}

.gotham {
  font-family: 'GothamPro', sans-serif;
}

.gotham-black {
  font-family: 'GothamPro', sans-serif;
  font-weight: 900;
}

.is-clickable {
  cursor: pointer;
}
